@import "bootstrap-sprockets";
@import "bootstrap";

.wrap {width: 80%; margin: 0 auto;}
.col-sm-8 {float: none !important; margin: 0 auto;}
.col-sm-offset-2 {margin-right: 16.66667%;}

// SCENARIO SHOW PAGE
.comment-actions.right {margin-left: -7px;}


//mobile responsive
@media only screen and (max-width: 600px) {
    .col-xs-offset-2 {margin-left: 0;}
    .col-xs-8 {width: 100%}
}